body {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: start;
    margin-bottom: 4rem;
}

img {
    width: 10%;
    height: auto;
}

textarea {
    width: 99%;
    height: auto;
    border: none;
    border-radius: 12px;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.warning {
    display: flex;
    flex-direction: row;
    width: 70%;
    color: #495057;
}

.warning-text {
  width: 20rem;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  margin-left: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    margin: 2rem 0;
}

.encrypter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 4rem;
  background: #0A3871;
  border-radius: 1.5rem;
  border: none;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
}

.decrypter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 4rem;
  background: #fff;
  border-radius: 1.5rem;
  border: 1px solid #0A3871;
  color: #0A3871;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
}

.message-decrypted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding-bottom: 1rem;
}

.button-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: 4rem;
  background: #fff;
  border-radius: 1.5rem;
  border: 1px solid #0A3871;
  color: #0A3871;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
}

.encrypter:hover,
.decrypter:hover,
.button-copy:hover {
  background: #13e11d;
  color: #fff;
  font-weight: 700;
}
