* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: start;
  margin-bottom: 4rem;
}

img {
  width: 10%;
  height: auto;
}

textarea {
  width: 99%;
  height: auto;
  border: none;
  border-radius: 12px;
  text-align: justify;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
}

.warning {
  display: flex;
  flex-direction: row;
  color: #495057;
}

.warning-text {
  width: 100%;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  margin-left: 0.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin: 2rem 0;
}

.encrypter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #0A3871;
  border-radius: 1.5rem;
  border: none;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
}

.decrypter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #fff;
  border-radius: 1.5rem;
  border: 1px solid #0A3871;
  color: #0A3871;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
}

/* .message-decrypted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: auto;
  border-radius: 12px;
  background-color: #fff;
  padding-bottom: 1rem;
} */

.lateral-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: auto;
  border-radius: 12px;
  background-color: #fff;
  padding-bottom: 1rem;
}

.text-output {
  width: 100%;
  height: 20rem;
  border: none;
  border-radius: 12px;
  text-align: justify;
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
}

.decrypted-image {
  display: none;
}

.button-copy {
  display: none;
}

.encrypter:hover,
.decrypter:hover,
.button-copy:hover {
  background: #13e11d;
  color: #fff;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  body {
    padding: 2rem;
  }

  header {
    margin-bottom: 2rem;
  }

  img {
    width: 8%;
  }

  textarea {
    width: 100%;
  }

  .warning {
    width: 100%;
  }

  .warning-text {
    font-size: 18px;
  }

  .buttons {
    flex-direction: row;
  }

  .encrypter {
    width: 49%;
  }

  .decrypter {
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 2.5rem;
  }

  header {
    margin-bottom: 2.5rem;
  }

  img {
    width: 10%;
  }

  .warning-text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    justify-content: space-between;
  }

  .information {
    width: 65%;
    height: 100vh;
    padding: 1.5rem 4rem 1.5rem 0;
  }

  .lateral-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100vh;
    padding: 2rem 0;
  }

  .text-output {
    display: none;
  }

  img {
    width: 7%;
  }

  textarea {
    font-size: 1.5rem;
  }

  .warning {
    display: flex;
    flex-direction: row;
    color: #495057;
    margin: 4rem 0 0;
  }

  .warning-text {
    height: 2rem;
    font-size: 1.5rem;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 0;
  }

  .encrypter,
  .decrypter {
    width: 33%;
  }

  .decrypted-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .button-copy {
    display: none;
  }
}